* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Montserrat";
}



body {
	background: white;
}


.homepage {
	background: url('../images/hero.png');
	background-size: 100% 100%;
	background-position: center;
	min-height: 57vw;

}

.homepage-heading,
.homepage-content {
	margin: 0px auto;
}

.homepage-heading {
	width: 90%;
	padding-top: 1vw;
	min-height: 6vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.heading2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

.links {
	display: flex;
	justify-content: space-between;
}


.list {
	margin: 20px;
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
	display: inline-block;

}

.brand>li>a {
	font-weight: 700;
	font-size: 40px;
}

.brand>li {

	font-weight: 700;
	font-size: 40px;
	color: white;
}

.links>li>a,
.member>li>a,
.member>button,
.homepage-content>p {
	font-weight: 500;
	font-size: 20px;
}

.member {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.member>button {
	color: white;
	font-weight: 600;
	margin: 20px;
	border: none;
	padding: 20px;
	background: rgb(35, 164, 237);
	border-radius: 4px;

}



.homepage-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 40%;
	align-items: center;
	text-align: center;
	height: 30vw;
	color: white;
}

.homepage-content>h1 {
	font-size: 70px;
	margin-top: 10vw;
}

.homepage-content>p {
	font-size: 25px;
	padding: 40px;
}

.buttons {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.buttons>button {
	padding: 20px;
	color: white;
	font-weight: 600;
	font-size: 20px;
	border-radius: 30px;
}


.quote {
	background: transparent;
	border: 2px solid white;
}

.quote:hover {
	background: rgb(35, 164, 237);
	border: 2px solid white;

}

.learn:hover {
	background: rgb(35, 164, 237);
	border: 2px solid white;
}

.learn {
	border: 2px solid white;
	background: transparent;
}


.second-page {
	background: rgb(247, 247, 247);
	min-height: 15vw;
}


.second-page-container {
	margin: 0px auto;
	width: 80%;
	display: flex;
	justify-content: space-between;

}

.second-content {
	margin-top: -5vw;
	padding: 2vw;
	color: back;
	padding-left: 3vw;
	background: white;
	width: 30%;
	flex-wrap: wrap;
	height: 14vw;
	box-shadow: 1px 1px 50px rgb(39, 39, 39, 0.3);
}

.second-content:hover {
	background: rgb(35, 164, 237);
}

.second-content>p {
	color: grey;
	font-size: 1vw;
	padding: 20px 80px 0px 0px;
}


.second-content-icon {
	height: 80px;
}


.third-page {
	background: white;
	min-height: 20vw;
	display: flex;
	justify-content: center;
	align-items: center;
}


.third-container {
	margin: 0px auto;
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.third-page-content {
	padding: 2vw;
	width: 30%;
	flex-wrap: wrap;
	height: 14vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.third-page-content>p {
	color: grey;
	

	
}


.third-page-icon {
	max-height: 100px;

}

.fourth-page {
	/* min-height: 30vw; */
	height: 60vh;
	background: rgb(247, 247, 247);
	display: flex;
	align-items: center;
	flex-direction: column;

}

.fourth-header {
	margin: 6vh;
	width: 60vw;
	padding: 20px;
	text-align: center;
}

.fourth-header>h1 {
	padding: 20px;
	font-size: 58px;
}

.fourth-header>p {
	color: grey;
	font-size: 20px;
	padding: 0px 80px 0px 100px;

}


.ratings {
	display: flex;
	justify-content: center;
}

.fourth-ratings {
	width: 75%;
	display: flex;
	justify-content: center;
	gap: 3vw;

}



.user-ratings {
	height: 31vw;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 2px solid rgb(39, 39, 39, 0.2);
	border-radius: 14px;

}

.user-ratings>img {
	height: 12vw;
	width: 12vw;
}

.user-ratings>p {
	color: rgb(39, 39, 39, 0.7);
	text-align: center;
	font-size: 23px;
	margin: 40px 62px;
}

.star-ratings>img {
	height: 3vh;

}

.fifth-page {
	margin-top: 20vw;


	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 10vh;
}


.sponsors-container {
	width: 76%;
	display: flex;
	gap: 1vw;
	justify-content: space-evenly;
	padding-top: 200px;
}


.email>img {
	height: 8vh;
}

.email {
	background: linear-gradient(to right, #004586, #553186, #CE1487);
	color: white;
	width: 76%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.newsletter,
.email-section {

	height: 20%;
	display: flex;
	align-items: center;
}

.newsletter {
	width: 30%;
	padding: 20px 40px;
}


.email-section {
	justify-content: center;
	height: 30px;
	width: 50%;
	display: flex;
	justify-content: center;
}

.email-section>input {
	height: 70%;
	width: 70%;
	border: none;
	border-radius: 8px 0px 0px 8px;
	background: white;
}

input[type="text"] {
	padding: 20px;
	font-size: 20px;
	color: grey;
}

.email-section>button {
	color: white;
	font-size: 20px;
	height: 45px;
	border: 1px solid white;
	border-radius: 0px 8px 8px 0px;
	background: rgba(83, 193, 212, 0.938);
	padding: 10px;
}

.sixth-page {
	min-height: 120vh;
}

.pricing {
	display: flex;
	background: rgb(247, 247, 247);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 20vh;

}


.price {
	text-align: center;
	margin: 13vh auto;
}

.price>h1 {
	font-size: 58px;
	color: rgb(37, 42, 65);
	padding: 20px;
}

.price>p {
	color: rgb(39, 39, 39, 0.6);
	font-size: 23px;
	width: 100%;
}

.pricing-cards-container {
	display: flex;
	justify-content: center;
	width: 90%;
	min-height: 110vh;
	gap: 4px;
}

.pricing-card-1 {
	border: 1px solid rgb(35, 164, 237);
	border-radius: 8px;
	background: white;
	width: 30vw;
	min-height: 90vh;
	display: flex;
	color: white;
	flex-direction: column;
	align-items: center;
	gap: 6vh;
	padding: 80px 10px;
}

.pricing-card-1>h1 {

	color: black;
}

.pricing-card-2 {
	border: 1px solid rgb(35, 164, 237);
	border-radius: 8px;
	background: rgb(37, 42, 65);
	width: 30vw;
	min-height: 90vh;
	display: flex;
	color: white;
	flex-direction: column;
	align-items: center;
	gap: 6vh;
	padding: 80px 10px;
}

.pricing-card-2>p {
	color: white;

}

.pricing-card-2>h1 {
	color: white;

}


.pricing-content {
	text-align: center;
}


.pricing-content h1 {
	text-align: center;
	color: black;
}

.pricing-content2 h1 {
	text-align: center;
	color: white;
}

.pricing-content-description {
	font-weight: 800;
	width: 50%;
	text-align: center;
	font-size: 23px;
	color: rgb(39, 39, 39, 0.6);
}

.pricing-content-description2 {
	font-weight: 800;
	width: 50%;
	text-align: center;
	font-size: 23px;
	color: white;
}


.amount {
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2vh;
}

.amount-num,
.amount-description {
	color: rgb(35, 164, 237);
	font-weight: 600;
}

.amount-num {
	font-size: 30px;
}

.amount-description {
	font-size: 23px;
	display: flex;
	flex-direction: column;
	gap: 7px;
}


.items {
	/*background: green;*/
	width: 100%;
}

.list-item {
	margin: 20px;
	/*border: 4px solid yellow;*/
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-left {
	width: 15%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-left>img {
	width: 50px;
	height: 40px;
}

.image-description {
	color: rgb(37, 42, 65);
	font-size: 23px;
	width: 80%;
	font-weight: 500;
}


.white {
	color: white;
	flex-wrap: nowrap;
}


.button-free {
	width: 80%;

}


.button-free>button {
	border-radius: 8px;
	color: white;
	font-size: 25px;
	width: 100%;
	border: none;
	background: rgb(35, 164, 237);
	padding: 20px;
}

.seventh-page {
	background: rgb(37, 42, 65);
	width: 100%;
	display: flex;
	height: 100vh;
	justify-content: center;
	
	gap: 3vw;
}


.seventh-text,
.worldmap {
	max-height: 50%;
	margin: 2vw;
}

.seventh-text {
	color: white;
	width: 40%;
	padding: 20px;
}

.seventh-text>h1 {
	font-size: 50px;
	padding: 20px;
}


.seventh-text>p {
	font-weight: 200;
	font-size: 23px;
	padding: 10px 20px;
}



.worldmap {
	width: 40%;
}


.worldmap>img {
	width: 90%;
	height: 80%;
}


.form-section {
	min-height: 60vh;
	background: rgb(247, 247, 247);
	display: flex;
	justify-content: center;

}


.form-section-container {
	background: white;
	margin-top: -30vh;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-image-container,
.form-section-wrapper {
	padding: 20px;
	background: white;
	height: 100%;
}


.form-image-container {
	background-image: url(/images/contact.png);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.form-image-container {
	width: 37%;
}

.form-section-wrapper {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

}

.form-section-wrapper>h1 {
	margin-top: 20px;
}



.form-input-holder {
	padding: 5px;
	width: 90%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form-input-holder>label {
	font-size: 20px;
	color: rgb(37, 42, 65);
	font-weight: 600;
}

.form-input-holder>input,
.form-input-holder>select {
	background: rgb(247, 247, 247);
	border: 1px solid rgb(27, 27, 27, 0.3);
	border-radius: 8px;
	width: 100%;
}

.form-input-holder>select {
	padding: 20px;
	font-size: 20px;
	color: rgb(27, 27, 27, 0.5);
	font-weight: 500;
}


input[type="text"] {
	font-weight: 500;
}

.form-input-holder>button {
	padding: 25px;
	border: none;
	background: rgb(35, 164, 237);
	border-radius: 8px;
	color: white;
	font-weight: 600;
	font-size: 20px;
}


.consulting {
	background: rgb(247, 247, 247);
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.consulting-container {
	padding: 20px;
	width: 76%;
	height: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.consulting-1>p {
	color: grey;
	padding-top: 20px;

}


.consulting-1,
.consulting-2 {

	min-width: 20%;
	min-height: 4vw;
}

.consulting-2>button {
	padding: 25px;
	width: 100%;
	border: none;
	background: rgb(35, 164, 237);
	border-radius: 8px;
	color: white;
	font-weight: 600;
	font-size: 20px;
}

.consulting-2 {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.consulting-2>h1 {
	color: rgb(37, 42, 65);
}

.consulting-2>p {
	color: rgb(39, 39, 39, 0.6);
	font-size: 20px;
}


.info-section {
	height: 40vh;

	width: 76%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2vw;

}

.info-content {

	height: 80%;
	width: 19vw;
}

.info-content>h1 {
	padding: 20px;
	font-size: 24px;

	font-weight: 600;
}

.info-content>p {
	color: rgb(39, 39, 39, 0.6);
	font-weight: 500;
	font-size: 20px;
	padding: 10px 20px;
}