* {
	margin:0px;
	padding:0px;
	box-sizing:border-box; 
	font-family: "Montserrat";
}



body {
	background: white;
}


.homepage {
	background:url('../images/hero.png');
	background-size: 100% 100%;
	background-position: center;
	min-height: 57vw;
	
}

.homepage-heading,.homepage-content{
	margin:0px auto;
}

.homepage-heading{
	width:90%;
	padding-top:1vw;
	min-height:6vh;
	display: flex;
	justify-content: space-between;	
	align-items: center;
}

.heading2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap:40px;
}

.links{
	display: flex;
	justify-content: space-between;
}

.list {
	margin: 20px;
	list-style: none;
}

a {
	text-decoration: none;
	color:white;
	display: inline-block;
	
}

.brand > li >  a {
	font-weight: 700;
	font-size:40px;
}

.links > li > a,.member > li > a,.member > button, .homepage-content > p{
	font-weight: 500;
	font-size: 20px;
}

.member{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.member> button {
	color:white;
	font-weight: 600;
	margin:20px;
	border:none;
	padding:20px;
	background:rgb(35, 164, 237);
	border-radius: 4px ;
}

.homepage-content{
	/*background: red;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 40%;
	align-items: center;
	text-align: center;
	height: 30vw;
	color:white;
}

.homepage-content> h1 {
	font-size: 70px;
	margin-top: 10vw;
}

.homepage-content > p {
	font-size: 25px;
	padding:40px;
}

.buttons{
	display: flex;
	justify-content: space-between;
	gap:20px;
}

.buttons > button {
	padding: 20px;
	color:white;
	font-weight: 600;
	font-size:20px;
	border-radius:30px;
}


.quote {
	background:rgb(35, 164, 237);
	border:none;
}

.learn {
	border: 2px solid white;
	background:transparent;
}


.second-page{
	background:rgb(247, 247, 247);
	min-height:15vw;
}


.second-page-container{
	margin:0px auto;
	width: 80%;
	display: flex;
	justify-content: space-between;

}

.second-content{
	margin-top: -5vw;
	padding:2vw;
	color:back;
	padding-left:3vw;
	background:white;
	width:30%;
	flex-wrap: wrap;
	height:14vw;
	box-shadow: 1px 1px 50px rgb(39,39,39,0.3);
}

.second-content> p {
	color:grey;
	font-size: 1vw;
	padding:20px 80px 0px 0px;
}


.second-content-icon{
	height: 80px;
}


.third-page{
	background:white;
	min-height:20vw;
	display: flex;
	justify-content: center;
	align-items: center;
}


.third-container{
	margin:0px auto;
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.third-page-content{
	padding:2vw;
	width:30%;
	flex-wrap: wrap;
	height:14vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.third-page-content > p { 
	color:grey;
	font-size: 1vw;
}


.third-page-icon {
	max-height: 100px;
	
}

.fourth-page{
	min-height: 30vw;
	background:rgb(247, 247, 247);
	display: flex;
	align-items: center;
	flex-direction: column;
	
}

.fourth-header{
	margin:6vh;
	width: 60vw;
	padding:20px;
	text-align: center;
}

.fourth-header > h1 {
	padding: 20px;
	font-size:58px;
} 
.fourth-header > p {
	color: grey;
	font-size: 20px;
	padding:0px 80px 0px 100px;

}


.ratings{
	display: flex;
	justify-content: center; 
}
.fourth-ratings {
	width: 75%;
	display: flex;
	justify-content: center;
	gap:3vw;
	
}



.user-ratings{ 
	height: 31vw;
	background:white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border:2px solid rgb(39,39,39,0.2);
	border-radius: 14px;
	
}

.user-ratings> img {
	height: 12vw;
	width: 12vw;
}

.user-ratings> p {
	color: rgb(39,39,39,0.7);
	text-align: center;
	font-size: 23px;
	margin: 40px 62px;
}

.star-ratings > img {
	height:3vh;
	
}

